{% extends 'auth/auth_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/staff.css') }}">
{% endblock %}

{% block body %}

{% if staff %}
<h1>Staff: {{staff.staff_email}}</h1>
<form action="{{url_for('staff_bp.staff_delete', id=staff.staff_id)}}" method="POST">
    Click <input type = "submit" value="YES"> to confirm

    <a href="{{url_for('transaction_bp.transaction')}}">Cancel</a>
</form>
{% else %}
	<h1>Staff not found</h1>
{% endif %}




{% endblock %}
