{% extends 'auth/auth_base.html' %}

{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
{% endblock %}


{% block header %}
<h2>Staff</h2>
{% endblock %}



{% block body %}
<div class="staff">
    <h1>Staff</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
                <th id="text-align">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in staffs %}
            <tr>
                <td>{{ staff.staff_id }}</td>
                <td>{{ staff.staff_email }}</td>
                <td id="text-align">{{ staff.staff_password }}</td>
                <td id="text-align">
                        <a class="opt-btn" id="opt-js-btn-1" href="{{url_for('staff_bp.staff_update', id=staff.staff_id)}}">
                            UPDATE&nbsp;&nbsp;<i class="bi bi-person-lines-fill"></i></a>
                    <br><br>
                        <button class="opt-btn" onclick="openModal('{{ staff.staff_id }}', 'STAFF')">
                            DELETE&nbsp;&nbsp;&nbsp;<i class="bi bi-person-x-fill"></i></button>
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
       
</div>



{% endblock %}
