{% extends 'auth/auth_base.html' %}

{% block head %}
<title>HEALINGMAT</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
{% endblock %}

{% block header %}
<h2>Staff Edit</h2>
{% endblock %}

{% block body %}

<h1><i class="bi bi-arrow-clockwise">&nbsp;</i>ACCOUNT UPDATE FOR: {{staff.staff_email}}</h1>

{% if staff %}

<form action="{{url_for('staff_bp.staff_update', id=staff.staff_id)}}" method="POST">
    <input type="hidden" name="id" value="{{staff.staff_id}}"> <br>
    <input type="email" name="email" value="{{staff.staff_email}}" placeholder="Email" autocomplete="off"> <br>
    <input type="password" name="password" placeholder="New Password" autocomplete="off"> <br>
    <span class="span-btn"><input type="submit" value="Update">
            <a id="cancel-btn" href="{{url_for('transaction_bp.transaction')}}">
               CANCEL</a></span>
</form>

{% else %}
	<h1>Staff not found</h1>
{% endif %}




{% endblock %}
