.dashboard {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.item {
    overflow: hidden;
    background: rgb(5, 64, 66);
    margin-top: 30px;
    padding: 15px 80px 15px 80px;
    border-radius: 10px;
    border-right: #ffffff solid 15px;
    margin-left: auto;
    margin-right: auto;
}

#logo-items{
    font-size: 20px;
}

p{
    margin-top: 10px;
    text-align: justify;
    padding: 15px;
    border-radius: 5px;
    border: white solid 1px;
    border-left: white solid 8px;
    border-right: white solid 8px;
    font-family: 'Quicksand', sans-serif;
}

b{
    font-family: 'Quicksand', sans-serif;
}

h2{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

#staff-no{
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

#tip-h-1{
    font-size: 40px;

}

#tip-1, #tip-h-1{
    border: none;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #031310;
}

.spec-tbl{
    margin: 0 auto 30px auto;
    width: 80em;
}


