@import url("global.css");

body {
     image-rendering: -webkit-optimize-contrast;
    background-image: url("/static/images/bg3.jpg");
    background-color: rgb(17, 93, 65); /* Tint color */
    background-blend-mode: multiply;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.custom-shape-divider-top-1649134634 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1649134634 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 143px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1649134634 .shape-fill {
    fill: rgba(15, 63, 52, 0.74);
}

.center-div{
    display: flex;
    justify-content: center;
    margin: 10% 0% 0% 0%;
}

.bg-logo{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-image: linear-gradient(445deg, rgba(255,255,255,0) 52%, rgb(255,255,255) 92%), url("/static/images/bg2.jpg");
    background-repeat: repeat-y;
    background-size: 65%;
    background-attachment: fixed;
    background-position: -50px 120px;
    border-top: white solid 1px;
    box-shadow: 5px 10px rgb(3, 21, 16);
    height: 500px;
    width: 700px;
}

.wrapper{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 0px 90px 0px 50px;
    box-shadow: 5px 10px rgb(3, 21, 16);

}

.button-cont{
    padding: 10px 0px 20px 0px;
}

#top-buttons-1,#top-buttons-2{
    padding: 15px;
}

#top-buttons-1{
    font-weight: bold;
    color: #222222;
}

#top-buttons-2{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: white;
    background-image: linear-gradient(to right, #083A44, #107a5a);
    box-shadow: 3px 2px 2px rgba(151, 151, 151, 0.397);
}

.content h1 {
    display: flex;
    justify-content: left;
}

#label-1, #label-2{
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: left;
}

input, label, h1, span, a{
    font-family: 'Quicksand', sans-serif;
}

input[type="text"],
input[type="password"] {
    display: block;
    padding: 20px;
    margin: 15px 0px 0px 0px;
    width: 19rem;
    border: none;
    border-bottom: 2px solid rgb(56, 56, 56);
    outline: none;
    border-radius: 2px;
    font-size: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border-bottom: 3px solid green;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(2, 28, 10);
    font-size: 14px;
}

input[type=submit]{
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 15px 60px 15px 60px;
    color: white;
    background-image: linear-gradient(to right, #083A44, #107a5a);
}



