@import url("global.css");

body {
     image-rendering: -webkit-optimize-contrast;
    background-image: url("/static/images/bg2.jpg");
    background-color: rgb(0, 180, 153); /* Tint color */
    background-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-div{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.bg-logo{
    margin: 0 0 0 200px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 15%, rgb(255,255,255) 92%), url("/static/images/bg2.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    box-shadow: 5px 10px rgb(3, 21, 16);
    width: 100%;
}

.wrapper{
    margin: 0 200px 0 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 0px 120px 80px 100px;
    box-shadow: 5px 10px rgb(3, 21, 16);

}

.button-cont{
    padding: 10px 0px 20px 0px;
}

#top-buttons-1,#top-buttons-2{
    padding: 15px;
}

#top-buttons-1{
    color: #222222;
}

#top-buttons-2{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color: white;
    background: #096e61;
    box-shadow: 3px 2px 2px rgba(151, 151, 151, 0.397);
}

.content h1 {
    display: flex;
    justify-content: left;
}

#label-1, #label-2{
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: left;
}

input, label, span, a{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

h1{
     font-family: 'Spartan', sans-serif;
    background: #096e61;
    margin: 20px 0 10px 0;
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    font-family: 'Spartan', sans-serif;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: left;
    color: rgb(48, 48, 48);
}


input[type="text"],
input[type="password"] {
    display: block;
    padding: 30px;
    margin: 15px 0px 0px 0px;
    width: 25rem;
    border: none;
    border-bottom: 2px solid rgb(56, 56, 56);
    outline: none;
    border-radius: 2px;
    font-size: 18px;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border-bottom: 3px solid #00805a;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(2, 28, 10);
}

input[type=submit]{
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 15px 60px 15px 60px;
    color: white;
    background: #096e61;
}



