@import url("global.css");


table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background: #FFF;
}

table thead tr {
    background: rgb(54, 175, 64);
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
    font-size: 16px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}


table tbody tr:hover {
    background: rgba(54, 175, 64, 0.8);

}


table tbody tr:hover td{
    color: #FFF;

}

button {
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
}