@import url("global.css");

#table-1 {
    font-size: 0.9em;
    font-family: sans-serif;
}

thead{
    border-top: dashed 2px #05251b;
    border-radius: 20px 20px 0 0;
}

tbody tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

tbody tr:first-child td:last-child{
    border-radius: 0 10px 0 0;
}

tbody{
    background: white;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}
tbody tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

th, td{
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}
th{
    padding: 20px 0px 20px 0px;
    font-weight: bold;
    color: #1f1f1f;
}

td{
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    width: 220px;
}

button {
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
}