{% extends 'base.html' %}

{% block head %}
    <title>HEALINGMAT</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

{% endblock %}

{% block body %}

<div class="center-div">
<div class="wrapper">
    <center><image class="logo" src="{{ url_for('static', filename='images/logo-head.png') }}"></image></center>

    <h1>welcome!</h1>
    <p>Please login to your account by filling these form:</p>

    <br>
    <div class="content">
        <form action="{{ url_for('auth_bp.login_page') }}" method="POST">

            <input type="text" name="email" id="email"
            value="{{ fields['email'] if fields and fields['email'] else '' }}"
                   placeholder=" " autocomplete="off">
            <label for="email">Email Address:</label>

            <span>
                {{ fields['emailErr'] if fields else '' }}
            </span>
            <input type="password" name="password" id="password" placeholder=" " autocomplete="off">
            <label for="password">Password:</label>
            <span>
                {{ fields['passwordErr'] if fields else '' }}
            </span>
            <br>
            <br>
                <input class="btn1" type="submit" value="SIGN IN">
                <a href="{{ url_for('auth_bp.register_page') }}">
                    <input class="btn2" type="button" value="SIGN UP"></a>
        </form>
        <br>
    </div>
</div>
    <div class="bg-logo"></div>
</div>

{% endblock %}
