{% extends 'base.html' %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

{% endblock %}

{% block body %}

<div class="center-div">
<div class="bg-logo"></div>
<div class="wrapper">
    <div class="button-cont">
     <a id="top-buttons-1" href="{{ url_for('auth_bp.login_page') }}">
         SIGN IN
     </a>
     <a id="top-buttons-2" href="{{ url_for('auth_bp.register_page') }}">
         REGISTER
     </a>
    </div>
    <br>
    <div class="content">
    <h1>employees only!</h1>
    <p>Setup your new account by filling these form:</p>
        <form action="{{ url_for('auth_bp.register_page') }}" method="POST">
            <span id="label-1">Email Address</span>
            <input type="text" name="email" id="email"
                placeholder="Enter your email address:"
                value="{{ fields['email'] if fields and fields['email'] else '' }}"  autocomplete="off"><br>
            <span>
                {{ fields['emailErr'] if fields else '' }}<br>
            </span>
            <span id="label-2">Password</span>
            <input type="password" name="password" id="password"
                   placeholder="Enter your password:"><br>
            <span>
                {{ fields['passwordErr'] if fields else '' }}<br>
            </span>
                <input type="submit" value="SIGN UP">
                <br>
        </form>
        <!-- {% for login_data in datas %}
            <li>{{ login_data.staff_id }}. {{ login_data.email }} - {{ login_data.password }}</li>
        {% endfor %}  -->
    </div>
</div>
</div>
{% endblock %}

