<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
        <script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dosis:wght@300&family=Quicksand&family=Spartan&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap" rel="stylesheet">
        {% block head %}
        
        {% endblock %}
    </head>
<body>
<div class="wrapper">
    <div class="sidebar">
        <span id="h1">Hello!</span>
        <span id="h1-data"><i class="bi bi-briefcase-fill"></i>&nbsp{{ session['email'] }}</span>
        <div class="cont">
                <a href="/dashboard" id="cont-sect">
                    <i class="bi bi-clipboard2-pulse-fill" id="auth-logo"></i>
                    <span id="auth-lbl">DASHBOARD</span></a>
                <a href="/transaction" id="cont-sect">
                    <i class="bi bi-ui-checks" id="auth-logo"></i>
                        <span id="auth-lbl">TRANSACTIONS</span></a>
                <a href="/staff" id="cont-sect">
                    <i class="bi bi-people-fill" id="auth-logo"></i>
                        <span id="auth-lbl">STAFFS</span></a>
                <a href="/help" id="cont-sect">
                    <i class="bi bi-question-square-fill" id="auth-logo"></i>
                        <span id="auth-lbl">HELP ASSISTANCE</span></a>
        <div class="logout">
            <a href="/logout">
                <i class="bi bi-door-open-fill"></i>
                SIGN OUT
            </a>
        </div>
        </div>
    </div>

    <div class="bg-modal">
        <div class="modal-content">
                <h1>Are you sure you want to delete
                    <b id="modal-title"> </b> ID: <b id="modal-trans-id"></b></h1>
                    <form id="delete_trans_form" method="POST">
                        <input class="yes-btn" type="submit" value="YES">
                        <input id="cancel-btn" type="button" value="CANCEL">
                    </form>
         </div>
    </div>

    <div class="main">
        <div class="main--header">
            <image class="logo-svg" src="{{ url_for('static', filename='images/logo-head-web.svg') }}"></image>
            <span id="title">WEB-BASED RECORD MANAGEMENT SYSTEM</span>
            <image class="bg-head-svg" src="{{ url_for('static', filename='images/bubbles.svg') }}"></image>
        </div>


        <div class="main--content"> <!-- Info -->
            {% block body %} 
    
            {% endblock %}
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block script %}
        
{% endblock %}
</body>
</html>