{% extends 'auth/auth_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
{% endblock %}

{% block header %}

{% endblock %}

{% block body %} 


<div class="dashboard">
    <div class="item">
        <p id="staff-no">{{ data['staff_count'] }}</p>
        <h2>STAFF COUNT</h2><i id="logo-items" class="bi bi-people-fill"></i>
    </div>

    <div class="item">
        <p>THIS MONTH: <b>{{ data['trans_month_count'] }}</b></p>
        <p>PREVIOUS MONTH: <b>{{ data['prev_trans_month_count'] }}</b></p>
        <h2>TRANSACTIONS</h2><i id="logo-items" class="bi bi-cart-dash-fill"></i>
    </div>

    <div class="item">
        <p>MONTHLY EARNINGS: <b>₱ {{ data['prod_month_total_earn'] }}</b></p>
        <p>LAST MONTH'S EARNINGS: <b>₱ {{ data['prod_prev_month_total_earn'] }}</b></p>
        <h2>REVENUE</h2><i id="logo-items" class="bi bi-cash-coin"></i>
        <br>
    </div>

</div>
    <div>
        <br>
        <h2 id="tip-h-1">RECENT TRANSACTIONS</h2>
        <p id="tip-1"><span><i class="bi bi-info-circle-fill"></i></span>
            &nbsp;PURCHASES MADE SUCCESSFULLY IN THE PAST 10 TRANSACTIONS.</p>
        <table class="spec-tbl">
        <thead>
            <tr>
                <th>DATE</th>
                <th>CUSTOMER</th>
                <th>LOCATION</th>
                <th>UNIT/S</th>
                <th>TOTAL</th>
                <th>Discount</th>
                <th>Final</th>
            </tr>
        </thead>
            <tbody>
            {% for item in data['recent_trans_data'] %}
            <tr id="tr-shadow">
                <td>{{ (data['datetime']).strftime(item[4], "%B %d, %Y") }}</td>
                <td>{{ item[1] }} {{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[0] * item[5] }}</td>
                <td>{{ item[6] * item[5] }}</td>
                <td>{{ (item[0] * item[5]) - (item[6] * item[5]) }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
