{% extends 'auth/auth_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/staff.css') }}">
{% endblock %}

{% block header %}
<h2>Welcome {{ data['email'] }} </h2>
{% endblock %}

{% block body %} 


<div class="dashboard">

    <div class="item">
        <h2>Staff Count</h2> <br>
        <h1>{{ data['staff_count'] }}</h1>
    </div>

    <div class="item">
        <h2>Transaction</h2> <br>
        <p>This month: <b>{{ data['trans_month_count'] }}</b></p>
        <p>Prev month: <b>{{ data['prev_trans_month_count'] }}</b></p>
    </div>

    <div class="item">
        <h2>Revenue</h2> <br>
        <p>This month: <b>₱ {{ data['prod_month_total_earn'] }}</b></p>
        <p>Prev month: <b>₱ {{ data['prod_prev_month_total_earn'] }}</b></p>
        <br>
    </div>




</div>
    <div>
        <br>
        <h1>Recent 10 transactions</h1>
        <table>
        <thead>
            <tr>
                <td>Date</td>
                <td>Customer</td>
                <td>Location</td>
                <td>Unit/s</td>
                <td>Total Price</td>
            </tr>
        </thead>
        <tbody>
            {% for item in data['recent_trans_data'] %}

            <tr>
                <td>{{ (data['datetime']).strftime(item[4], "%B %d, %Y") }}</td>
                <td>{{ item[1] }} {{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[0] * item[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>


{% endblock %}
