{% extends 'auth/auth_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
{% endblock %}

{% block header %}

{% endblock %}

{% block body %} 


<div class="dashboard">
    <div class="item">
        <p id="staff-no">{{ data['staff_count'] }}</p>
        <h2>STAFF COUNT</h2><i id="logo-items" class="bi bi-people-fill"></i>
    </div>

    <div class="item">
        <p>THIS MONTH: <b>{{ data['trans_month_count'] }}</b></p>
        <p>PREVIOUS MONTH: <b>{{ data['prev_trans_month_count'] }}</b></p>
        <h2>TRANSACTIONS</h2><i id="logo-items" class="bi bi-cart-dash-fill"></i>
    </div>

    <div class="item">
        <p>MONTHLY EARNINGS: <b>₱ {{ data['prod_month_total_earn'] }}</b></p>
        <p>LAST MONTH'S EARNINGS: <b>₱ {{ data['prod_prev_month_total_earn'] }}</b></p>
        <h2>REVENUE</h2><i id="logo-items" class="bi bi-cash-coin"></i>
        <br>
    </div>

</div>

<br><br><br>
<div class="chart-cont">

    <h1>Income Chart</h1>

    <canvas id="annualChart"></canvas>
</div>
<br>
    


    <div>
        <br>
        <h2 id="tip-h-1">RECENT TRANSACTIONS</h2>
        <p id="tip-1"><span><i class="bi bi-info-circle-fill"></i></span>
            &nbsp;PURCHASES MADE SUCCESSFULLY IN THE PAST 10 TRANSACTIONS.</p>
        <table class="spec-tbl">
        <thead>
            <tr>
                <th>DATE</th>
                <th>CUSTOMER</th>
                <th>LOCATION</th>
                <th>UNIT/S</th>
                <th id="text-align">TOTAL PRICE</th>
                <th id="text-align">ADDED DISCOUNT</th>
                <th id="text-align">DISCOUNTED PRICE</th>
            </tr>
        </thead>
            <tbody>
            {% for item in data['recent_trans_data'] %}
            <tr id="tr-shadow">
                <td>{{ (data['datetime']).strftime(item[4], "%B %d, %Y") }}</td>
                <td>{{ item[1] }} {{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td id="text-align">{{ item[5] }}</td>
                <td>{{ item[0] * item[5] }}</td>
                <td id="text-align">{{ item[6] * item[5] }}</td>
                <td id="text-align">{{ (item[0] * item[5]) - (item[6] * item[5]) }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>



{% endblock %}







{% block script %}
<script>
const labels = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December',
  ];

  let this_year_months = []
  let last_year_months = []

  const this_year = {{ data['this_year_chart_data']['year'] | tojson }};
  const last_year = {{ data['last_year_chart_data']['year'] | tojson }};

  const this_year_data = {{ data['this_year_chart_data']['month'] | tojson }};
  const last_year_data = {{ data['last_year_chart_data']['month'] | tojson }};

  last_year_data.forEach(e => {
    last_year_months.push(labels[parseInt(e) - 1])
  });

  const this_year_total_data = {{ data['this_year_chart_data']['final_total'] | tojson }};
  const last_year_total_data = {{ data['last_year_chart_data']['final_total'] | tojson }};

  console.log(last_year_total_data)

  const chart_data = {
    labels: last_year_months,
    datasets: [
        {
            label: this_year,
            backgroundColor: 'rgba(37, 198, 219, 0.2)',
            borderColor: 'rgb(23, 136, 156)',
            fill: true,
            tension: 0.2,
            data: this_year_total_data,
        },
        {
            label: last_year,
            backgroundColor: 'rgba(37, 219, 195, 0.2)',
            borderColor: 'rgb(11, 86, 84)',
            fill: true,
            tension: 0.2,
            data: last_year_total_data,
        }
    ]
  };

  const config = {
    type: 'line',
    data: chart_data,
    options: {}
  };


  const annualChart = new Chart(
    document.getElementById('annualChart'),
    config
  );
</script>
{% endblock %}
