{% extends 'auth/auth_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
{% endblock %}

{% block header %}
<h2>Transaction Create</h2>
{% endblock %}

{% block body %}


<div class="transaction">
    <h1>CREATING TRANSACTION</h1><br>
    <form action="" method="POST">
        <input type="text" name="firstname" placeholder="Firstname" autocomplete="off"> <br>
        <input type="text" name="lastname" placeholder="Lastname" autocomplete="off"> <br>
        <input type="datetime-local" name="date" placeholder="Date" autocomplete="off"> <br>
        <input type="text" name="location" placeholder="Location" autocomplete="off"> <br>
        <input type="text" name="quantity" placeholder="Unit/s" autocomplete="off"> <br>
        {% for product in products %}
        <input type="hidden" name="prod_id" value="{{product.prod_id}}">
        {% endfor %}
        <!-- <select name="prod_id">
            {% for product in products %}
            <option value="{{product.prod_id}}">Product: {{product.prod_id}}</option>
            {% endfor %}
        </select> <br> -->
        <span class="span-btn"><input type="submit" value="Create">
            <a id="cancel-btn" href="{{url_for('transaction_bp.transaction')}}">
               CANCEL</a></span>
    </form>
</div>



{% endblock %}
