{% extends 'auth/auth_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/staff.css') }}">
{% endblock %}

{% block header %}
<h2>Transaction Delete</h2>
{% endblock %}

{% block body %}

<h1>Delete</h1>

{% if transaction %}
<h1>Transaction ID: {{transaction.cust_id}}</h1>
<form action="{{url_for('transaction_bp.transaction_delete', id=transaction.cust_id)}}" method="POST">
    Click <input type = "submit" value="YES"> to confirm

    <a href="{{url_for('transaction_bp.transaction')}}">Cancel</a>
</form>
{% else %}
	<h1>Staff not found</h1>
{% endif %}




{% endblock %}
