{% extends 'auth/auth_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
{% endblock %}

{% block header %}
<h2>Transaction</h2>
{% endblock %}

{% block body %}

<div class="transaction">
    <a id="create-btn" href="{{url_for('transaction_bp.transaction_create')}}">
        <i class="bi bi-clipboard-plus-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp;CREATE TRANSACTION</a>
    <h1 id="spec-h1">TRANSACTIONS</h1>
    <table>
        <thead>
            <tr>
                <th id="col-id">ID</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Location</th>
                <th>Unit/s</th>
                <th id="text-align">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions.items|sort(attribute='cust_id', reverse = True) %}
            <tr>
                <td><div class="spec-id">{{ transaction.cust_id }}</div></td>
                <td>{{ transaction.cust_firstname }} {{ transaction.cust_lastname }}</td>
                <td>{{ transaction.trans_date.strftime("%B %d, %Y") }}</td>
                <td>{{ transaction.trans_location }}</td>
                <td id="text-align">{{ transaction.trans_quantity }}</td>
                <td>
                    <a class="opt-btn" id="opt-js-btn-1" href="{{url_for('transaction_bp.transaction_update', id=transaction.cust_id)}}">
                        UPDATE&nbsp;&nbsp;<i class="bi bi-journal-medical"></i></a>
                    <br><br>
                    <button class="opt-btn" onclick="openModal('{{ transaction.cust_id }}', 'TRANSACTION')">
                        DELETE&nbsp;&nbsp;&nbsp;<i class="bi bi-journal-x"></i></button>
                </td>
            </tr>
            {% endfor %}
        <tr>
            <td colspan="6">
                {% if transactions.has_prev %}
                    <a id="page-btn" href="{{ url_for('transaction_bp.transaction', page=transactions.prev_num) }}">
                        <i class="bi bi-arrow-left-square-fill"></i>&nbsp; Prev
                    </a>
                {% endif %}

                {% if transactions.has_prev and transactions.has_next %}
                    |
                {% endif %}

                {% if transactions.has_next %}
                    <a id="page-btn" href="{{ url_for('transaction_bp.transaction', page=transactions.next_num) }}">
                        Next &nbsp;<i class="bi bi-arrow-right-square-fill"></i>
                    </a>
                {% endif %}
        </tr>
        </tbody>
    </table>

</div>




{% endblock %}
