{% extends 'auth/auth_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/transaction.css') }}">
{% endblock %}

{% block header %}
<h2>Transaction Update</h2>
{% endblock %}

{% block body %}


<div class="transaction">
    <h1><i class="bi bi-arrow-clockwise">&nbsp;</i>Transaction Update for ID: {{transaction.cust_id}}</h1><br>

    <form action="" method="POST">
        <input type="hidden" name="cust_id" value="{{transaction.cust_id}}">
        <input type="text" name="firstname" placeholder="Firstname" value="{{transaction.cust_firstname}}" autocomplete="off"> <br>
        <input type="text" name="lastname" placeholder="Lastname" value="{{transaction.cust_lastname}}" autocomplete="off"> <br>
        <input type="date" name="date" placeholder="Date" value="{{transaction.trans_date}}"> <br>
        <input type="text" name="location" placeholder="Location" autocomplete="off" value="{{transaction.trans_location}}"> <br>
        <input type="number" name="quantity" placeholder="Unit/s" autocomplete="off" value="{{transaction.trans_quantity}}"> <br>

        {% for product in products %}
        <input type="hidden" name="prod_id" value="{{product.prod_id}}">
        {% endfor %}

        <select name="discount">
            <option value="0"
                {{ 'selected' if transaction.trans_discount == 0.0 }}
            >
                No Discount (3500)
            </option>
            <option value="1000"
                {{ 'selected' if transaction.trans_discount == 1000.0 }}
            >
                1000 (Discount) = 2500 (Price)
            </option>
            <option value="1100"
                {{ 'selected' if transaction.trans_discount == 1100.0 }}
            >
                1100 (Discount) = 2400 (Price)
            </option>
            <option value="1200"
                {{ 'selected' if transaction.trans_discount == 1200.0 }}
            >
                1200 (Discount) = 2300 (Price)
            </option>
            <option value="1300"
                {{ 'selected' if transaction.trans_discount == 1300.0 }}
            >
                1300 (Discount) = 2200 (Price)
            </option>
            <option value="1400"
                {{ 'selected' if transaction.trans_discount == 1400.0 }}
            >
                1400 (Discount) = 2100 (Price)
            </option>
            <option value="1500"
                {{ 'selected' if transaction.trans_discount == 1500.0 }}
            >
                1500 (Discount) = 2000 (Price)
            </option>
            <option value="1700"
                {{ 'selected' if transaction.trans_discount == 1700.0 }}
            >
                1700 (Discount) = 1800 (Price)
            </option>
        </select>

        <!-- <select name="prod_id">
            {% for product in products %}
            <option value="{{product.prod_id}}">Product: {{product.prod_id}}</option>
            {% endfor %}
        </select> <br> -->
        <span class="span-btn"><input type="submit" value="Update">
            <a id="cancel-btn" href="{{url_for('transaction_bp.transaction')}}">
               CANCEL</a></span>
    </form>
</div>



{% endblock %}
